*{
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat,'Sawarabi Gothic',"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  max-width: 500px;
  width: 100%;
  letter-spacing: 10px;
}
body {
  padding-top: 10px;
}
.mikann {
  height: 70px;
  width: 70px;
}
h4 {
  font-weight: normal;
  font-size: 30px;
}
p {
  font-size: 15px;
}
.border-bottom {
  border-bottom: 1px solid gray;
}
.URLs {
  padding-top: 20px;
}
.URLs p {
  font-size: 13px;
}
.letter {
  color: black;
  font-size: 23px;
  text-decoration: none;
  border-bottom: 1px gray dashed;
  font-weight: normal;
}
.letter:hover {
  letter-spacing: 30px;
  transition: all 0.1s;
}
.twitter {
  padding-top: 50px;
}
.ends {
  padding-top: 130px;
  color: #777777;
}
.end {
  font-size: 12px;
}
.yotei {
  color: black;
}
.foot {
  font-size: 10px;
  color: #555555;
}
.MMyiy_R {
  padding-top: 20px;
}
