/* タブレット */
@media (max-width: 700px) {

header h1 {
  font-size: 20px;
  margin: 10px;
}

.header_list {
  font-size: 25px;
  height: 40px;
}
.lists {
  line-height: 38px;
}

main {
  padding: 10px 0px 0px 0px;
}

}

/* スマホ */
@media (max-width: 520px) {

header h1 {
  text-align: left;
}

.header_list {
  font-size: 20px;
  height: 30px;
}
.lists {
  line-height: 30px;
}

p {
  font-weight: normal;
  padding-top: 35px;
}
.p {
  font-size: 15px;
}
.link {
  font-size: 20px;
  letter-spacing: 2px;
}

}
