/* タブレット */
@media (max-width: 700px) {

.logo {
  height: 80px;
  margin: 0 auto;
}
.OREN {
  height: 40px;
  padding: 25px 0px 15px 0px;
}

.logo-OREN {
  height: 0%;
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
}

.header_list {
  font-size: 25px;
  height: 40px;
}
.lists {
  line-height: 38px;
}

main {
  padding: 3%;
}

}

/* スマホ */
@media (max-width: 520px) {

.logo {
  height: 40px;
  margin: 0 auto;
}
.OREN {
  height: 20px;
  padding: 10px 10px 10px 10px;
}

.logo-OREN {
  height: 0%;
  width: 25%;
  display: grid;
  place-items: center;
  position: fixed;
}

.header_list {
  font-size: 14px;
  height: 30px;
}
.lists {
  line-height: 30px;
}

p {
  font-weight: normal;
  padding: 10px 0px;
}
.p {
  font-size: 15px;
}
.link {
  font-size: 20px;
  letter-spacing: 2px;
}

}

